.mdl-button--icon {
    margin-left: 10px !important;
}

.mdl-list__item-avatar {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.headerElt {
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    background-color: transparent;
    padding: 8px;
}


#original_gitweb {
    /* display: none; */
}


@media (max-width: 900px) {
    .view-screen {
        display: none;
    }
    .view-mobile {
    }
}

@media (min-width: 900px) {
    .view-screen {
    }
    .view-mobile {
        display: none;
    }
}